### Import Dependencies

In [1]:
import os
import pandas as pd #alias
import numpy as np  #alias
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('c:\\Users\\Tenura Pinsara\\Desktop\\ML\\Zuu\\mini_p_00\\Advanced_Telco_Customer_Churn_Prediction\\data\\processed\\Churn_Binning_Applied.csv')
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
categorical_columns = ['gender', 
                       'SeniorCitizen', 
                       'Partner', 
                       'Dependents', 
                       'PhoneService', 
                       'MultipleLines', 
                       'InternetService', 
                       'OnlineSecurity', 
                       'OnlineBackup', 
                       'DeviceProtection', 
                       'TechSupport', 
                       'StreamingTV', 
                       'StreamingMovies', 
                       'Contract', 
                       'PaperlessBilling', 
                       'PaymentMethod']


print(f"Categorical Columns : {len(categorical_columns)}")

Categorical Columns : 16

nominal_vars = [
    'gender',
    'Partner',
    'Dependents',
    'PhoneService',
    'MultipleLines',
    'InternetService',
    'OnlineSecurity',
    'OnlineBackup',
    'DeviceProtection',
    'TechSupport',
    'StreamingTV',
    'StreamingMovies',
    'PaperlessBilling',
    'PaymentMethod'
]

ordinal_vars = [
    'SeniorCitizen',   
    'Contract'         
]

### Encode Nominal Variables

In [ ]:
nominal_variables = ['gender','Partner','Dependents','PhoneService','MultipleLines','InternetService','OnlineSecurity','OnlineBackup','DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling','PaymentMethod']

In [6]:
# Nominal variables
nominal_variables = [
    'gender',
    'Partner',
    'Dependents',
    'PhoneService',
    'MultipleLines',
    'InternetService',
    'OnlineSecurity',
    'OnlineBackup',
    'DeviceProtection',
    'TechSupport',
    'StreamingTV',
    'StreamingMovies',
    'PaperlessBilling',
    'PaymentMethod'
]

# Create dummies in place
for col in nominal_variables:
    dummies = pd.get_dummies(df[col], prefix=col)
    df = pd.concat([df, dummies], axis=1)
    del df[col]

df.head()

,SeniorCitizen,tenure,Contract,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,...,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,Month-to-month,29.85,29.85,No,True,False,False,True,...,False,True,False,False,False,True,False,False,True,False
1,0,34,One year,56.95,1889.50,No,False,True,True,False,...,False,True,False,False,True,False,False,False,False,True
2,0,2,Month-to-month,53.85,108.15,Yes,False,True,True,False,...,False,True,False,False,False,True,False,False,False,True
3,0,45,One year,42.30,1840.75,No,False,True,True,False,...,False,True,False,False,True,False,True,False,False,False
4,0,2,Month-to-month,70.70,151.65,Yes,True,False,True,False,...,False,True,False,False,False,True,False,False,True,False

### Encord Ordinal Variables

In [7]:
# Ordinal encoding mapping for 'Contract'
encode_dict_contract = {
    'Month-to-month': 0,
    'One year': 1,
    'Two year': 2
}

# SeniorCitizen is already numeric (0/1), so we don't need to map unless it's 'Yes'/'No'
if df['SeniorCitizen'].dtype == 'object':
    encode_dict_senior = {'No': 0, 'Yes': 1}
    df['SeniorCitizen'] = df['SeniorCitizen'].map(encode_dict_senior)

# Map Contract
df['Contract'] = df['Contract'].map(encode_dict_contract)

df.head()

,SeniorCitizen,tenure,Contract,MonthlyCharges,TotalCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,...,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,0,29.85,29.85,No,True,False,False,True,...,False,True,False,False,False,True,False,False,True,False
1,0,34,1,56.95,1889.50,No,False,True,True,False,...,False,True,False,False,True,False,False,False,False,True
2,0,2,0,53.85,108.15,Yes,False,True,True,False,...,False,True,False,False,False,True,False,False,False,True
3,0,45,1,42.30,1840.75,No,False,True,True,False,...,False,True,False,False,True,False,True,False,False,False
4,0,2,0,70.70,151.65,Yes,True,False,True,False,...,False,True,False,False,False,True,False,False,True,False

In [8]:
df.to_csv('c:\\Users\\Tenura Pinsara\\Desktop\\ML\\Zuu\\mini_p_00\\Advanced_Telco_Customer_Churn_Prediction\\data\\processed\\Churn_Encoded.csv',index=False)